<p id="notice"><%= notice %></p>

<h1 style="margin: 20px; color: #2e59d9; margin-left: 160px">Current article list</h1>

<table class="table table-striped table-bordered" style="margin: 5px; color: black; text-align: center">
  <thead style="color: #dda20a; font-size: 20px">
  <tr>
    <th>Name</th>
    <th>Category</th>
<!--    <th>Image</th>-->
    <!--      <th>Descript</th>-->
    <th>Create time</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tfoot style="color: #dda20a; font-size: 20px">
  <tr>
    <th>Name</th>
    <th>Category</th>
<!--        <th>Image</th>-->
    <!--      <th>Descript</th>-->
    <th>Create time</th>
    <th colspan="3"></th>
  </tr>
  <tr>
    <th colspan="7" style="margin-right: 50px; text-align: right">
    <div class="btn-group" role="group" aria-label="Basic example">



        <%= paginate @articles, window: 2, outer_window: 3 %>


    </div>
    </th>
  </tr>
  </tfoot>
  <tbody>

  <% @articles.each do |article| %>
    <tr>
      <td style="text-align: left"><%= article.name %></td>
      <td><%= article.category.name %></td>
<!--      <td><%#= article.image %></td>-->
      <!--        <td><%#= article.descript %></td>-->
      <td><%= article.create_time %></td>
      <td><%= link_to 'Show', article %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

  </tbody>
</table>
