<p id="notice"><%= notice %></p>
<h3 style="margin-left: 40px; color: blue">Infomation of <%= @user.fullname %></h3>
<br>
<table class="table" style="font-size: 15px">
<!--  <tr>-->
<!--    <td style="font-size: 15px"><strong>Username:</strong></td>-->
<!--    <td style="font-size: 15px"> <%#= @user.username %></td>-->
<!--  </tr>-->
  <tr>
    <td style="font-size: 15px"><strong>Email:</strong></td>
    <td style="font-size: 15px"> <%= @user.email %></td>
  </tr>

  <!--<tr>-->
  <!--  <td><strong>Password:</strong></td>-->
  <!--  <td><%#= @user.password %></td>-->
  <!--</tr>-->

  <tr>
    <td style="font-size: 15px"><strong>Fullname:</strong></td>
    <td style="font-size: 15px"><%= @user.fullname %></td>
  </tr>

  <tr>
    <td style="font-size: 15px"><strong>Phone number:</strong></td>
    <td style="font-size: 15px"><%= @user.phone_number %></td>
  </tr>

  <tr>
    <td style="font-size: 15px"><strong>Gender:</strong></td>
    <td style="font-size: 15px"><%= @user.gender ? "Male" : "Female" %></td>
  </tr>

  <tr>
    <td style="font-size: 15px"><strong>Address:</strong></td>
    <td style="font-size: 15px"><%= @user.address %></td>
  </tr>

  <tr>
    <td style="font-size: 15px"><strong>Image:</strong></td>
    <td style="font-size: 15px"><%= @user.image %></td>
  </tr>

  <tr>
    <td style="font-size: 15px"><strong>Birth:</strong></td>
    <td style="font-size: 15px"><%= @user.birth %></td>
  </tr>

  <tr>
    <td style="font-size: 15px"><strong>Role:</strong></td>
    <td style="font-size: 15px"><%= @user.role.descript %></td>
  </tr>

  <tr>
    <td style="font-size: 15px"><strong>Create time:</strong></td>
    <td style="font-size: 15px"><%= @user.create_time %></td>
  </tr>
</table>